<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        
        <!-- JavaScript required to display the Google+ badge -->
        <script type="text/javascript" src="https://apis.google.com/js/platform.js">
            {lang: 'pt-BR'}
        </script>
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Igor Hipólito Vieira<br />
                Estudante de Análise e Desenvolvimento de Sistemas na FATEC São Caetano do Sul<br />
                zignd.igor@gmail.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/Zignd">github.com/Zignd</a><br />
                <!-- Display Google+ badge -->
                <div class="g-person" data-width="310" data-href="//plus.google.com/113597662968462607911" data-theme="dark" data-layout="landscape" data-rel="author"></div>
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
